<!-- Run camera link node standalone -->
<launch>
  <!-- Camera link node -->
  <node pkg="camera_link_rev" type="camera_link_rev_node" name="camera_link_rev" output="screen" required="true">
    <!-- Debug output -->
    <param name="debug" type="bool" value="false" />
    <!-- Camera topics prefix -->
    <param name="camera_prefix" type="string" value="/camera" />
    <!-- Camera frames prefix -->
    <param name="camera_tf_prefix" type="string" value="camera_" />
  </node>
</launch>
