<launch>
    <!-- vl53l1x rangefinder ROS node -->
    <node name="rangefinder" pkg="vl53l1x" type="vl53l1x_node" output="screen">
        <param name="frame_id" value="rangefinder"/>
        <param name="min_signal" value="0.4"/>
        <param name="pass_statuses" type="yaml" value="[0, 6, 7, 11]"/>
    </node>

    <!-- Rangefinder frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="rangefinder_frame" args="0 0 -0.05 0 1.5707963268 0 base_link rangefinder"/>
</launch>
